<h1>Pacjenci#index</h1>
<ul>
  <% @pacjenci.each do |pacjent| %>
    <li>
      <%= pacjent.imie %>
      <%= pacjent.nazwisko %>
      <a href="/pacjenci/<%= pacjent.id %>">
      test </a>
    </li>
  <% end %>
</ul>
