<h1>Statystyki urodzeń pacjentów</h1>
<div data-controller="chart" data-chart-data="<%= @urodzenia_statystyki.to_json %>">
  <canvas id="chart"></canvas>
</div>

<%= column_chart @urodzenia_statystyki%>